@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  --progress-width: 0;
  --buffered-width: 0;
}

.progress-bar::-webkit-slider-thumb {
  z-index: 4;
  position: relative;
}

.progress-bar::before {
  transform: scaleX(var(--progress-width));
  z-index: 3;
}

.progress-bar::after {
  transform: scaleX(var(--buffered-width));
  transform-origin: left;
  z-index: 2;
}

@layer utilities {
  .font-width-75 {
    font-stretch: 75%;
  }
  .font-width-95 {
    font-stretch: 95%;
  }
  .font-width-105 {
    font-stretch: 105%;
  }
  .font-width-115 {
    font-stretch: 115%;
  }
}
